body {
  background-color: #f2f2f2;
}
nav {
  margin: 40px 0px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin-right: 12px;
  text-decoration: none;
  color: black;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}
